
        header,footer{
            height: 20vh;
        }
        #main{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #main > nav,#main > aside{
            width: 10vw;
        }
        nav{
            order: 0;
        }
        aside{
            order: 2;
        }
        article{
            order: 1;
        }
        .login-title{
            text-align: center;
        }
        .info{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .edit-text{
            padding: 0em, 0em, 1em, 1em;
            justify-content: center;
            display: flex;
        }
        #nav-buttons{
            display: flex;
            flex: 1;
            justify-content: space-between;
        }
        
